
<div class="shop-area pt-90 pb-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shop-topbar-wrapper">
          <div class="shop-topbar-left">
            <div class="view-mode nav">
              <a class="active" href="#shop-1" data-toggle="tab"><i class="la la-th"></i></a>
              <a href="#shop-2" data-toggle="tab"><i class="la la-list-ul"></i></a>
            </div>
            <p>Showing 1 - 20 of 30 results </p>
          </div>
          <div class="product-sorting-wrapper">
            <div class="product-shorting shorting-style">
              <label>View:</label>
              <select>
                <option value=""> 20</option>
                <option value=""> 23</option>
                <option value=""> 30</option>
              </select>
            </div>
            <div class="product-show shorting-style">
              <label>Sort by:</label>
              <select>
                <option value="">Default</option>
                <option value=""> Name</option>
                <option value=""> price</option>
              </select>
            </div>
          </div>
        </div>
        <div class="shop-bottom-area">
          <div class="tab-content jump">
            <div id="shop-1" class="tab-pane active">
              <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                  <div class="product-wrap mb-35">
                    <div class="product-img mb-15">
                      <a href="product-details.html"><img alt="imagen" src="assets/images/product/pro-hm1-1.jpg" alt="product"></a>
                      <div class="product-action">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                            class="la la-plus"></i></a>
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                      </div>
                    </div>
                    <div class="product-content">
                      <span>Chair</span>
                      <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                      <div class="price-addtocart">
                        <div class="product-price">
                          <span>$210.00</span>
                        </div>
                        <div class="product-addtocart">
                          <a title="Add To Cart" href="#">+ Add To Cart</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                  <div class="product-wrap mb-35">
                    <div class="product-img mb-15">
                      <a href="product-details.html"><img alt="imagen" src="assets/images/product/pro-hm1-2.jpg" alt="product"></a>
                      <span class="price-dec">-30%</span>
                      <div class="product-action">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                            class="la la-plus"></i></a>
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                      </div>
                    </div>
                    <div class="product-content">
                      <span>Chair</span>
                      <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                      <div class="price-addtocart">
                        <div class="product-price">
                          <span>$250.00</span>
                          <span class="old">$270.00</span>
                        </div>
                        <div class="product-addtocart">
                          <a title="Add To Cart" href="#">+ Add To Cart</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                  <div class="product-wrap mb-35">
                    <div class="product-img mb-15">
                      <a href="product-details.html"><img alt="imagen" src="assets/images/product/pro-hm1-3.jpg" alt="product"></a>
                      <div class="product-action">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                            class="la la-plus"></i></a>
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                      </div>
                    </div>
                    <div class="product-content">
                      <span>Chair</span>
                      <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                      <div class="price-addtocart">
                        <div class="product-price">
                          <span>$200.00</span>
                        </div>
                        <div class="product-addtocart">
                          <a title="Add To Cart" href="#">+ Add To Cart</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                  <div class="product-wrap mb-35">
                    <div class="product-img mb-15">
                      <a href="product-details.html"><img alt="imagen" src="assets/images/product/pro-hm1-4.jpg" alt="product"></a>
                      <span class="price-dec font-dec">NEW</span>
                      <div class="product-action">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                            class="la la-plus"></i></a>
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                      </div>
                    </div>
                    <div class="product-content">
                      <span>Chair</span>
                      <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                      <div class="price-addtocart">
                        <div class="product-price">
                          <span>$220.00</span>
                        </div>
                        <div class="product-addtocart">
                          <a title="Add To Cart" href="#">+ Add To Cart</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                  <div class="product-wrap mb-35">
                    <div class="product-img mb-15">
                      <a href="product-details.html"><img alt="imagen" src="assets/images/product/pro-hm1-5.jpg" alt="product"></a>
                      <span class="new-stock"><span>Stock <br>Out</span></span>
                      <div class="product-action">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                            class="la la-plus"></i></a>
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                      </div>
                    </div>
                    <div class="product-content">
                      <span>Chair</span>
                      <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                      <div class="price-addtocart">
                        <div class="product-price">
                          <span>$250.00</span>
                          <span class="old">$260.00</span>
                        </div>
                        <div class="product-addtocart">
                          <a title="Add To Cart" href="#">+ Add To Cart</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                  <div class="product-wrap mb-35">
                    <div class="product-img mb-15">
                      <a href="product-details.html"><img alt="imagen" src="assets/images/product/pro-hm1-6.jpg" alt="product"></a>
                      <div class="product-action">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                            class="la la-plus"></i></a>
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                      </div>
                    </div>
                    <div class="product-content">
                      <span>Chair</span>
                      <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                      <div class="price-addtocart">
                        <div class="product-price">
                          <span>$260.00</span>
                        </div>
                        <div class="product-addtocart">
                          <a title="Add To Cart" href="#">+ Add To Cart</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                  <div class="product-wrap mb-35">
                    <div class="product-img mb-15">
                      <a href="product-details.html"><img alt="imagen" src="assets/images/product/pro-hm1-7.jpg" alt="product"></a>
                      <span class="price-dec font-dec">NEW</span>
                      <div class="product-action">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                            class="la la-plus"></i></a>
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                      </div>
                    </div>
                    <div class="product-content">
                      <span>Chair</span>
                      <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                      <div class="price-addtocart">
                        <div class="product-price">
                          <span>$240.00</span>
                          <span class="old">$290.00</span>
                        </div>
                        <div class="product-addtocart">
                          <a title="Add To Cart" href="#">+ Add To Cart</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                  <div class="product-wrap mb-35">
                    <div class="product-img mb-15">
                      <a href="product-details.html"><img alt="imagen" src="assets/images/product/pro-hm1-8.jpg" alt="product"></a>
                      <div class="product-action">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                            class="la la-plus"></i></a>
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                      </div>
                    </div>
                    <div class="product-content">
                      <span>Chair</span>
                      <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                      <div class="price-addtocart">
                        <div class="product-price">
                          <span>$280.00</span>
                        </div>
                        <div class="product-addtocart">
                          <a title="Add To Cart" href="#">+ Add To Cart</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                  <div class="product-wrap mb-35">
                    <div class="product-img mb-15">
                      <a href="product-details.html"><img alt="imagen" src="assets/images/product/pro-hm1-1.jpg" alt="product"></a>
                      <div class="product-action">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                            class="la la-plus"></i></a>
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                      </div>
                    </div>
                    <div class="product-content">
                      <span>Chair</span>
                      <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                      <div class="price-addtocart">
                        <div class="product-price">
                          <span>$210.00</span>
                        </div>
                        <div class="product-addtocart">
                          <a title="Add To Cart" href="#">+ Add To Cart</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                  <div class="product-wrap mb-35">
                    <div class="product-img mb-15">
                      <a href="product-details.html"><img alt="imagen" src="assets/images/product/pro-hm1-2.jpg" alt="product"></a>
                      <span class="price-dec">-30%</span>
                      <div class="product-action">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                            class="la la-plus"></i></a>
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                      </div>
                    </div>
                    <div class="product-content">
                      <span>Chair</span>
                      <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                      <div class="price-addtocart">
                        <div class="product-price">
                          <span>$250.00</span>
                          <span class="old">$270.00</span>
                        </div>
                        <div class="product-addtocart">
                          <a title="Add To Cart" href="#">+ Add To Cart</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                  <div class="product-wrap mb-35">
                    <div class="product-img mb-15">
                      <a href="product-details.html"><img alt="imagen" src="assets/images/product/pro-hm1-3.jpg" alt="product"></a>
                      <div class="product-action">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                            class="la la-plus"></i></a>
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                      </div>
                    </div>
                    <div class="product-content">
                      <span>Chair</span>
                      <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                      <div class="price-addtocart">
                        <div class="product-price">
                          <span>$200.00</span>
                        </div>
                        <div class="product-addtocart">
                          <a title="Add To Cart" href="#">+ Add To Cart</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                  <div class="product-wrap mb-35">
                    <div class="product-img mb-15">
                      <a href="product-details.html"><img alt="imagen" src="assets/images/product/pro-hm1-4.jpg" alt="product"></a>
                      <span class="price-dec font-dec">NEW</span>
                      <div class="product-action">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                            class="la la-plus"></i></a>
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                      </div>
                    </div>
                    <div class="product-content">
                      <span>Chair</span>
                      <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                      <div class="price-addtocart">
                        <div class="product-price">
                          <span>$220.00</span>
                        </div>
                        <div class="product-addtocart">
                          <a title="Add To Cart" href="#">+ Add To Cart</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="shop-2" class="tab-pane">
              <div class="shop-list-wrap mb-30">
                <div class="row">
                  <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6">
                    <div class="product-list-img">
                      <a href="product-details.html">
                        <img alt="imagen" src="assets/images/product/pro-hm1-1.jpg" alt="Product Style">
                      </a>
                      <div class="product-list-quickview">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                            class="la la-plus"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-8 col-lg-7 col-md-6 col-sm-6">
                    <div class="shop-list-content">
                      <span>Chair</span>
                      <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                      <div class="pro-list-price">
                        <span>$40.00</span>
                        <span class="old-price">$50.00</span>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipic it, sed do eiusmod tempor labor incididunt ut et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip.</p>
                      <div class="product-list-action">
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                        <a title="Add To Cart" href="#"><i class="la la-shopping-cart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="shop-list-wrap mb-30">
                <div class="row">
                  <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6">
                    <div class="product-list-img">
                      <a href="product-details.html">
                        <img alt="imagen" src="assets/images/product/pro-hm1-2.jpg" alt="Product Style">
                      </a>
                      <div class="product-list-quickview">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                            class="la la-plus"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-8 col-lg-7 col-md-6 col-sm-6">
                    <div class="shop-list-content">
                      <span>Chair</span>
                      <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                      <div class="pro-list-price">
                        <span>$50.00</span>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipic it, sed do eiusmod tempor labor incididunt ut et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip.</p>
                      <div class="product-list-action">
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                        <a title="Add To Cart" href="#"><i class="la la-shopping-cart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="shop-list-wrap mb-30">
                <div class="row">
                  <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6">
                    <div class="product-list-img">
                      <a href="product-details.html">
                        <img alt="imagen" src="assets/images/product/pro-hm1-3.jpg" alt="Product Style">
                      </a>
                      <div class="product-list-quickview">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                            class="la la-plus"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-8 col-lg-7 col-md-6 col-sm-6">
                    <div class="shop-list-content">
                      <span>Chair</span>
                      <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                      <div class="pro-list-price">
                        <span>$40.00</span>
                        <span class="old-price">$50.00</span>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipic it, sed do eiusmod tempor labor incididunt ut et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip.</p>
                      <div class="product-list-action">
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                        <a title="Add To Cart" href="#"><i class="la la-shopping-cart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="shop-list-wrap mb-30">
                <div class="row">
                  <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6">
                    <div class="product-list-img">
                      <a href="product-details.html">
                        <img alt="imagen" src="assets/images/product/pro-hm1-4.jpg" alt="Product Style">
                      </a>
                      <div class="product-list-quickview">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                            class="la la-plus"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-8 col-lg-7 col-md-6 col-sm-6">
                    <div class="shop-list-content">
                      <span>Chair</span>
                      <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                      <div class="pro-list-price">
                        <span>$90.00</span>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipic it, sed do eiusmod tempor labor incididunt ut et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip.</p>
                      <div class="product-list-action">
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                        <a title="Add To Cart" href="#"><i class="la la-shopping-cart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="shop-list-wrap mb-30">
                <div class="row">
                  <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6">
                    <div class="product-list-img">
                      <a href="product-details.html">
                        <img alt="imagen" src="assets/images/product/pro-hm1-5.jpg" alt="Product Style">
                      </a>
                      <div class="product-list-quickview">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                            class="la la-plus"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-8 col-lg-7 col-md-6 col-sm-6">
                    <div class="shop-list-content">
                      <span>Chair</span>
                      <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                      <div class="pro-list-price">
                        <span>$60.00</span>
                        <span class="old-price">$80.00</span>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipic it, sed do eiusmod tempor labor incididunt ut et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip.</p>
                      <div class="product-list-action">
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                        <a title="Add To Cart" href="#"><i class="la la-shopping-cart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="shop-list-wrap mb-30">
                <div class="row">
                  <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6">
                    <div class="product-list-img">
                      <a href="product-details.html">
                        <img alt="imagen" src="assets/images/product/pro-hm1-6.jpg" alt="Product Style">
                      </a>
                      <div class="product-list-quickview">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                            class="la la-plus"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-8 col-lg-7 col-md-6 col-sm-6">
                    <div class="shop-list-content">
                      <span>Chair</span>
                      <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                      <div class="pro-list-price">
                        <span>$70.00</span>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipic it, sed do eiusmod tempor labor incididunt ut et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip.</p>
                      <div class="product-list-action">
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                        <a title="Add To Cart" href="#"><i class="la la-shopping-cart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="shop-list-wrap mb-30">
                <div class="row">
                  <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6">
                    <div class="product-list-img">
                      <a href="product-details.html">
                        <img alt="imagen" src="assets/images/product/pro-hm1-7.jpg" alt="Product Style">
                      </a>
                      <div class="product-list-quickview">
                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                            class="la la-plus"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-8 col-lg-7 col-md-6 col-sm-6">
                    <div class="shop-list-content">
                      <span>Chair</span>
                      <h4><a href="product-details.html">Golden Easy Spot Chair.</a></h4>
                      <div class="pro-list-price">
                        <span>$50.00</span>
                        <span class="old-price">$60.00</span>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipic it, sed do eiusmod tempor labor incididunt ut et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip.</p>
                      <div class="product-list-action">
                        <a title="Wishlist" href="#"><i class="la la-heart-o"></i></a>
                        <a title="Compare" href="#"><i class="la la-retweet"></i></a>
                        <a title="Add To Cart" href="#"><i class="la la-shopping-cart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pagination-style text-center">
              <ul>
                <li><a class="prev" href="#"><i class="la la-angle-left"></i></a></li>
                <li><a href="#">01</a></li>
                <li><a href="#">02</a></li>
                <li><a class="active" href="#">03</a></li>
                <li><a href="#">04</a></li>
                <li><a href="#">05</a></li>
                <li><a href="#">06</a></li>
                <li><a class="next" href="#"><i class="la la-angle-right"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">x</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="tab-content quickview-big-img">
              <div id="pro-1" class="tab-pane fade show active">
                <img alt="imagen" src="assets/images/product/quickview-l1.jpg" alt="">
              </div>
              <div id="pro-2" class="tab-pane fade">
                <img alt="imagen" src="assets/images/product/quickview-l2.jpg" alt="">
              </div>
              <div id="pro-3" class="tab-pane fade">
                <img alt="imagen" src="assets/images/product/quickview-l3.jpg" alt="">
              </div>
              <div id="pro-4" class="tab-pane fade">
                <img alt="imagen" src="assets/images/product/quickview-l2.jpg" alt="">
              </div>
            </div>


            <div class="quickview-wrap mt-15">
              <div class="quickview-slide-active owl-carousel nav nav-style-2" role="tablist">
                <a class="active" data-toggle="tab" href="#pro-1"><img alt="imagen" src="assets/images/product/quickview-s1.jpg"
                    alt=""></a>
                <a data-toggle="tab" href="#pro-2"><img alt="imagen" src="assets/images/product/quickview-s2.jpg" alt=""></a>
                <a data-toggle="tab" href="#pro-3"><img alt="imagen" src="assets/images/product/quickview-s3.jpg" alt=""></a>
                <a data-toggle="tab" href="#pro-4"><img alt="imagen" src="assets/images/product/quickview-s4.jpg" alt=""></a>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="product-details-content quickview-content">
              <span>Life Style</span>
              <h2>LaaVista Depro, FX 829 v1</h2>
              <div class="product-ratting-review">
                <div class="product-ratting">
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star"></i>
                  <i class="la la-star-half-o"></i>
                </div>
                <div class="product-review">
                  <span>40+ Reviews</span>
                </div>
              </div>
              <div class="pro-details-color-wrap">
                <span>Color:</span>
                <div class="pro-details-color-content">
                  <ul>
                    <li class="green"></li>
                    <li class="yellow"></li>
                    <li class="red"></li>
                    <li class="blue"></li>
                  </ul>
                </div>
              </div>
              <div class="pro-details-size">
                <span>Size:</span>
                <div class="pro-details-size-content">
                  <ul>
                    <li><a href="#">s</a></li>
                    <li><a href="#">m</a></li>
                    <li><a href="#">xl</a></li>
                    <li><a href="#">xxl</a></li>
                  </ul>
                </div>
              </div>
              <div class="pro-details-price-wrap">
                <div class="product-price">
                  <span>$210.00</span>
                  <span class="old">$230.00</span>
                </div>
                <div class="dec-rang"><span>- 30%</span></div>
              </div>
              <div class="pro-details-quality">
                <div class="cart-plus-minus">
                  <input class="cart-plus-minus-box" type="text" name="qtybutton" value="02">
                </div>
              </div>
              <div class="pro-details-compare-wishlist">
                <div class="pro-details-compare">
                  <a title="Add To Compare" href="#"><i class="la la-retweet"></i> Compare</a>
                </div>
                <div class="pro-details-wishlist">
                  <a title="Add To Wishlist" href="#"><i class="la la-heart-o"></i> Add to wish list</a>
                </div>
              </div>
              <div class="pro-details-buy-now btn-hover btn-hover-radious">
                <a href="#">Add To Cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

