<footer class="footer-area bg-black-3 pt-100 section-padding-4">
  <div class="container-fluid">
    <div class="footer-top pb-60">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12 col-sm-6">
          <div class="footer-widget footer-contact-wrap-2 mb-40">
            <a [routerLink]="['/home']"><img alt="imagen" src="assets/images/logo/solplazalogo.png" style="width: 150px;"
                alt="logo"></a>
            <div class="footer-contact-content-2">
              <h5>Informacion de contacto:</h5>
              <div class="footer-info-hm5">
                <span>Telefono</span>
                <p><a href="tel:+51995393846">995393846</a></p>
              </div>
              <div class="footer-info-hm5">
                <span>Correo electronico</span>
                <p><a href="mailto:ventas@solplaza.net">ventas@solplaza.net</a></p>
              </div>
              <div class="footer-social-hm5">ñ
                <span>Siguenos</span>
                <ul>
                  <li>
                    <a target="_blank" href="https://web.facebook.com/solplazajauja">
                      <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebok
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://www.youtube.com/channel/UCqDy8Miq89S79v2pNETNbFQ">
                      <i class="fa fa-youtube-play" aria-hidden="true"></i> YouTube
                    </a>
                  </li>

                  <li>
                    <a target="_blank" href="https://www.instagram.com/">
                      <i class="fa fa-instagram" aria-hidden="true"></i> Instagram
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
