<div class="about-us-area pt-90 pb-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="about-us-img text-center">
          <a href="#">
            <img alt="imagen" src="assets/images/banner/about-us.jpg" alt="">
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 align-self-center">
        <div class="about-us-content">
          <h2>Bienvenido a <span>Compu Gaming </span> Store !</h2>
          <p class="peragraph-blog">Daxone Shop is a premium HTML template designed and develoved from the ground up
            with the sole purpose of helping you create an astonishing, the beautiful and user friendly website that
            will boost your product’s sales.</p>
          <p>The theme design package provides a complete Magento theme set for your online store according to your
            desired theme. This includes all Magento themes that are required for your online store's successful
            implementation.</p>
          <div class="about-us-btn btn-hover hover-border-none">
            <a class="btn-color-white btn-color-theme-bg black-color" href="shop.html">Shop now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="feature-area pb-90 section-padding-3">
  <div class="container">
    <div class="feature-border feature-border-about">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="feature-wrap mb-30 text-center">
            <img alt="imagen" src="assets/images/icon-img/feature-icon-1.png" alt="">
            <h5>Los mejores productos</h5>
            <span>Best Queality Products</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="feature-wrap mb-30 text-center">
            <img alt="imagen" src="assets/images/icon-img/feature-icon-2.png" alt="">
            <h5>100% fresco</h5>
            <span>Best Queality Products</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="feature-wrap mb-30 text-center">
            <img alt="imagen" src="assets/images/icon-img/feature-icon-3.png" alt="">
            <h5>Seguridad</h5>
            <span>Best Queality Products</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="feature-wrap mb-30 text-center">
            <img alt="imagen" src="assets/images/icon-img/feature-icon-4.png" alt="">
            <h5>Best Wood</h5>
            <span>Best Queality Products</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="banner-wrap mb-30">
          <a href="product-details.html">
            <img alt="imagen" src="assets/images/banner/banner-12.png" alt="banner">
          </a>
          <div class="banner-content-8">
            <h2>Best LED TV</h2>
            <h5>G432xx</h5>
            <h3><span>$</span>1990.00</h3>
            <h4>0% <span>EMI </span> available</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="banner-wrap mb-30">
          <a href="product-details.html">
            <img alt="imagen" src="assets/images/banner/banner-13.png" alt="banner">
          </a>
          <div class="banner-content-9">
            <h3>Beots <br>Superb</h3>
            <p>Lorem Ipsum is simply dummy text</p>
            <a href="product-details.html">Shop Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="banner-wrap mb-30">
          <a href="product-details.html">
            <img alt="imagen" src="assets/images/banner/banner-14.png" alt="banner">
          </a>
          <div class="banner-content-9">
            <h1>Beots</h1>
            <h4>Sup<span>erb</span></h4>
            <p>Lorem Ipsum is simply dummy text</p>
            <a href="product-details.html">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="team-area pt-60 pb-60">
  <div class="container">
    <div class="section-title-2 text-center">
      <h2>El equipo</h2>
      <img alt="imagen" src="assets/images/icon-img/title-shape.png" alt="icon-img">
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team-wrapper mb-30">
          <div class="team-img">
            <a href="#">
              <img alt="imagen" src="assets/images/team/team-1.jpg" alt="">
            </a>
            <div class="team-action">
              <a class="facebook" href="https://web.facebook.com/solplazajauja">
                <i class="ti-facebook"></i>
              </a>
              <a class="twitter" href="#">
                <i class="ti-twitter-alt"></i>
              </a>
              <a class="instagram" href="#">
                <i class="ti-instagram"></i>
              </a>
            </div>
          </div>
          <div class="team-content text-center">
            <h4>Mr.Mike Banding</h4>
            <span>Manager </span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team-wrapper mb-30">
          <div class="team-img">
            <a href="#">
              <img alt="imagen" src="assets/images/team/team-2.jpg" alt="">
            </a>
            <div class="team-action">
              <a class="facebook" href="#">
                <i class="ti-facebook"></i>
              </a>
              <a class="twitter" href="#">
                <i class="ti-twitter-alt"></i>
              </a>
              <a class="instagram" href="#">
                <i class="ti-instagram"></i>
              </a>
            </div>
          </div>
          <div class="team-content text-center">
            <h4>Mr.Peter Pan</h4>
            <span>Developer </span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team-wrapper mb-30">
          <div class="team-img">
            <a href="#">
              <img alt="imagen" src="assets/images/team/team-3.jpg" alt="">
            </a>
            <div class="team-action">
              <a class="facebook" href="#">
                <i class="ti-facebook"></i>
              </a>
              <a class="twitter" href="#">
                <i class="ti-twitter-alt"></i>
              </a>
              <a class="instagram" href="#">
                <i class="ti-instagram"></i>
              </a>
            </div>
          </div>
          <div class="team-content text-center">
            <h4>Ms.Sophia</h4>
            <span>Designer </span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team-wrapper mb-30">
          <div class="team-img">
            <a href="#">
              <img alt="imagen" src="assets/images/team/team-4.jpg" alt="">
            </a>
            <div class="team-action">
              <a class="facebook" href="#">
                <i class="ti-facebook"></i>
              </a>
              <a class="twitter" href="#">
                <i class="ti-twitter-alt"></i>
              </a>
              <a class="instagram" href="#">
                <i class="ti-instagram"></i>
              </a>
            </div>
          </div>
          <div class="team-content text-center">
            <h4>Mr.John Lee</h4>
            <span>Chairmen </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="banner-wrap mb-30">
          <a href="product-details.html"><img alt="imagen" src="assets/images/banner/banner-15.png" alt="banner"></a>
          <div class="banner-content-10">
            <h2>MAK PRO GAMMING</h2>
          </div>
          <div class="banner-content-10-btn">
            <a href="product-details.html">Shop Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="banner-wrap mb-30">
          <a href="product-details.html"><img alt="imagen" src="assets/images/banner/banner-16.png" alt="banner"></a>
          <div class="banner-content-11">
            <h2>35% </h2>
            <h3>Discount</h3>
            <h4>0% Interest EMI Available.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="testimonial-area pt-60 pb-80">
  <div class="container">
    <div class="section-title-2 text-center">
      <h2>Testimonials</h2>
      <img alt="imagen" src="assets/images/icon-img/title-shape.png" alt="icon-img">
    </div>
    <div class="testimonial-active owl-carousel">
      <div class="sin-testimonial">
        <div class="client-content">
          <p>“ Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, laboris consequat. ”</p>
        </div>
        <div class="client-info">
          <img alt="imagen" alt="" src="assets/images/testimonial/client-1.png">
          <h5>Anna Miller</h5>
          <span>Deginer</span>
        </div>
      </div>
      <div class="sin-testimonial">
        <div class="client-content">
          <p>“ Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, laboris consequat. ”</p>
        </div>
        <div class="client-info">
          <img alt="imagen" alt="" src="assets/images/testimonial/client-2.png">
          <h5>Kevin Walker</h5>
          <span>Developer</span>
        </div>
      </div>
      <div class="sin-testimonial">
        <div class="client-content">
          <p>“ Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, laboris consequat. ”</p>
        </div>
        <div class="client-info">
          <img alt="imagen" alt="" src="assets/images/testimonial/client-3.png">
          <h5>Ruth Pierce</h5>
          <span>Customer</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="brand-logo-area pb-90">
  <div class="container">
    <div class="brand-logo-padding bg-gray-3">
      <div class="brand-logo-active-2 owl-carousel">
        <div class="single-brand-logo">
          <img alt="imagen" src="assets/images/brand-logo/brand-logo-5.png" alt="">
        </div>
        <div class="single-brand-logo">
          <img alt="imagen" src="assets/images/brand-logo/brand-logo-6.png" alt="">
        </div>
        <div class="single-brand-logo">
          <img alt="imagen" src="assets/images/brand-logo/brand-logo-7.png" alt="">
        </div>
        <div class="single-brand-logo">
          <img alt="imagen" src="assets/images/brand-logo/brand-logo-8.png" alt="">
        </div>
        <div class="single-brand-logo">
          <img alt="imagen" src="assets/images/brand-logo/brand-logo-9.png" alt="">
        </div>
        <div class="single-brand-logo">
          <img alt="imagen" src="assets/images/brand-logo/brand-logo-6.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="subscribe-area pb-100">
  <div class="container">
    <div class="subscribe-bg bg-img pt-45 pb-50 pl-20 pr-20" style="background-image:url(assets/images/bg/bg-3.jpg);">
      <div class="row">
        <div class="col-lg-6 ml-auto mr-auto">
          <div class="subscribe-content-3 text-center">
            <h2>Sign up & Get all updates.</h2>
            <div id="mc_embed_signup" class="subscribe-form-3 mt-20">
              <form id="mc-embedded-subscribe-form" class="validate subscribe-form-style" novalidate="" target="_blank"
                name="mc-embedded-subscribe-form" method="post"
                action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                <div id="mc_embed_signup_scroll" class="mc-form">
                  <input class="email" type="email" required="" placeholder="Enter Your E-mail" name="EMAIL" value="">
                  <div class="mc-news" aria-hidden="true">
                    <input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                  </div>
                  <div class="clear">
                    <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
