<div class="product-wrap product-border-3 product-img-zoom mb-30">
  <div class="product-img">
      <a (click)="goToProduct(product)"><img alt="imagen" [src]="product.imageURL"
              alt="product"></a>


         </div>
  <div class="product-content product-content-padding">
      <span>{{product.category}}</span>
      <h4>
          <a [title]="product.name"
              (click)="goToProduct(product)">{{product.name}}</a>
      </h4>
      <div class="price-addtocart">
          <div class="product-price">
              <span>{{product.price | nuevoSol}}</span>
          </div>
      </div>
  </div>
</div>
