
<div class="checkout-main-area pt-90 pb-90">
  <div class="container">
    <div class="checkout-wrap pt-30">
      <div class="row">
        <div class="col-lg-7">
          <div class="billing-info-wrap mr-50">
            <h3>Detalles de pago</h3>
            <div class="row">

              <div class="col-lg-6 col-md-6">
                <div class="billing-info mb-20">
                  <label>Nombres <abbr class="required" title="required">*</abbr></label>
                  <input placeholder="Max Antony" type="text">
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="billing-info mb-20">
                  <label>Apellido<abbr class="required" title="required">*</abbr></label>
                  <input placeholder="Paucar Ramirez" type="text">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="billing-info mb-20">
                  <label>DNI <abbr class="required" title="required">*</abbr></label>
                  <input class="billing-address" placeholder="73378901" type="text">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="billing-info mb-20">
                  <label>Telefono <abbr class="required" title="required">*</abbr></label>
                  <input class="billing-address" placeholder="--- --- ---" type="text">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="billing-info mb-20">
                  <label>Celular <abbr class="required" title="required">*</abbr></label>
                  <input class="billing-address" placeholder="922828939" type="text">
                </div>
              </div>
              <h4>Destino de envio</h4>
              <hr>
              <div class="col-lg-12">
                <div class="billing-info mb-20">
                  <label>Departamento <abbr class="required" title="required">*</abbr></label>
                  <input class="billing-address" placeholder="Junin" type="text">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="billing-info mb-20">
                  <label>Provincia <abbr class="required" title="required">*</abbr></label>
                  <input class="billing-address" placeholder="Satipo" type="text">
                </div>
              </div>
              <div class="col-lg-12">
                  <div class="billing-info mb-20">
                    <label>Distrito <abbr class="required" title="required">*</abbr></label>
                    <input class="billing-address" placeholder="San Martin de Pangoa" type="text">
                  </div>
                </div>
              <div class="col-lg-12">
                <div class="billing-info mb-20">
                  <label>Codigo postal <abbr class="required" title="required">*</abbr></label>
                  <input placeholder="10658" type="text">
                </div>
              </div>
                           </div>

            <div class="different-address open-toggle mt-30">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="billing-info mb-20">
                    <label>First Name</label>
                    <input type="text">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="billing-info mb-20">
                    <label>Last Name</label>
                    <input type="text">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="billing-info mb-20">
                    <label>Company Name</label>
                    <input type="text">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="billing-select mb-20">
                    <label>Country</label>
                    <select>
                      <option>Select a country</option>
                      <option>Azerbaijan</option>
                      <option>Bahamas</option>
                      <option>Bahrain</option>
                      <option>Bangladesh</option>
                      <option>Barbados</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="billing-info mb-20">
                    <label>Street Address</label>
                    <input class="billing-address" placeholder="House number and street name" type="text">
                    <input placeholder="Apartment, suite, unit etc." type="text">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="billing-info mb-20">
                    <label>Town / City</label>
                    <input type="text">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="billing-info mb-20">
                    <label>State / County</label>
                    <input type="text">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="billing-info mb-20">
                    <label>Postcode / ZIP</label>
                    <input type="text">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="billing-info mb-20">
                    <label>Phone</label>
                    <input type="text">
                  </div>
                </div>
                               </div>
            </div>
                       </div>
        </div>
        <div class="col-lg-5">
          <div class="your-order-area">
            <h3>Tu pedido</h3>
            <div class="your-order-wrap gray-bg-4">
              <div class="your-order-info-wrap">
                <div class="your-order-info">
                  <ul>
                    <li>Producto <span>Total</span></li>
                  </ul>
                </div>
                <div class="your-order-middle">
                  <ul>
                    <li>Laptop Acer X 1 <span>S/. 2000.00 </span></li>
                    <li>Laptop HP X 1 <span>S/. 2000.00 </span></li>
                  </ul>
                </div>
                <div class="your-order-info order-subtotal">
                  <ul>
                    <li>Subtotal <span>S/. 4000.00 </span></li>
                  </ul>
                </div>
                <div class="your-order-info order-subtotal">
                  <ul>
                    <li>Envio <span>S/. 15 </span></li>
                  </ul>
                </div>
                <div class="your-order-info order-total">
                  <ul>
                    <li>Total <span>S/. 4015.00 </span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="Place-order mt-40">
              <a [routerLink]="['/venta-efectivo']" >Realizar pedido</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
