
<div class="contact-area pt-85 pb-90">
  <div class="container">
    <div class="contact-info-wrap mb-50">
      <h3>Completa tu compra</h3>
      <div class="row">
        <div class="col">

          <img alt="imagen" style="margin: 0px auto; display: block;" src="assets/images/efectivo.png" alt="">
          <p style="text-decoration: underline; text-align: center; margin-top: 20px;"><a target="_blank"
              href="https://cip.pagoefectivo.pe/CNT/QueEsPagoEfectivo.aspx">¿Como funciona pago efectivo?</a></p>

        </div>
      </div>
    </div>
  </div>
</div>
