<h2>
  ingrese la nueva contraseña
</h2>
<form [formGroup]="newPasswordForm" (ngSubmit)="recoverPassword(newPasswordForm)">
  <div *ngIf="newPasswordForm.get('newPassword').touched" class="text-danger">
    <div *ngIf="newPasswordForm.get('newPassword').hasError('required')">Por favor introduzca una contraseña
    </div>
    <div *ngIf="newPasswordForm.get('newPassword').hasError('minlength')">Por favor introduzca mas de tres
      letras
    </div>
  </div>
  <input formControlName="newPassword" type="text" placeholder="ingrese su nueva contraseña">
  <div class="button-box">
    <button [ngStyle]="{'opacity': newPasswordForm.invalid ? '0.3': '1'  }" class="btn-login-custom" type="submit"
      [disabled]="newPasswordForm.invalid">Ingresar</button>
  </div>
</form>